{% extends 'base.html' %}
{% block content %}
<h2 class="header text-center"> Welcome back, Rae</h2>
    <h3 class="m-5">Account Info</h3>
<table class="d-flex p-3 justify-content-evenly">
    <div class="border border-2 p-3 m-3">
        <h2> Full Name </h2>
        <hr>
        <p> Rachel Porhammer </p>
        <!-- <label>Nickname</label>
        <input type="text" placeholder="Rae" name='nickname'> -->
    </div>


    
    <div class="border border-2 p-3 m-3">
        <h2> DOB </h2>
        <hr>
        <p> 08/19/2003 </p>    
    </div>

    <div class="border border-2 p-3 m-3">
        <h2> email </h2>
        <hr>
        <p> rachelp4515@gmail.com </p>        
    </div>

</table>

        

{% endblock %}
