{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center p-5"> 
<form class='border p-5' method='POST' action='/donos'>
    <legend> New Donation </legend>
    <p>
        <label for="dono-name">Name you'd like to donate under: </label>
        <input id='dono-name-input' type="text" value='Rae' name='name'>
    </p>
    
    <p>
        <label for="dono-charity">What charity are you donating to today?</label>
        <input id='dono-charity-input' type="text" name='charity'>
    </p>

    <p>
        <label for="dono-amount">Amount you would like to give: </label>
        <input type="number" min='0' placeholder='$' name='amount'>
    </p>

    <p>
        <button type="submit"> Send Donation </button>
    </p>
</form>
</div>

{% endblock %}
